/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Elegant Black Color Palette with Subtle Bluish Gradient */

/* Primary black color */
:root {
  --black: #000000;
}

/* Bluish color in the middle */
:root {
  --bluish: #1a1a2e; /* Adjust the bluish color as per your preference */
}

/* Gradient Background */
body {
  background: linear-gradient(
    to bottom,
    var(--black) 0%,
    var(--bluish) 50%,
    var(--black) 100%
  );
  height: 100vh;
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-family: Arial, sans-serif;
  color: white; /* Set font color for better readability against the dark background */
}
